@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Chakra Petch';
  src: url("../fonts/ChakraPetch-Bold.ttf") format("truetype"), url("../fonts/ChakraPetch-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url("../fonts/ChakraPetch-Regular.ttf") format("truetype"), url("../fonts/ChakraPetch-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url("../fonts/ChakraPetch-Medium.ttf") format("truetype"), url("../fonts/ChakraPetch-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url("../fonts/ChakraPetch-SemiBold.ttf") format("truetype"), url("../fonts/ChakraPetch-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url("../fonts/ChakraPetch-Light.ttf") format("truetype"), url("../fonts/ChakraPetch-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Chakra Petch', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #18181b;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url("../img/svg/bg-header.svg") top right no-repeat;
}

.wrapper > main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  appearance: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

:root {
  --index: calc(1vw + 1vh);
}

.btn2 {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 48px;
  color: #d1d1d1;
  background: transparent;
  font-size: inherit;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  border-image-slice: 1;
  z-index: 10;
  transition: all 0.2s ease 0s;
}

.btn2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #e95ce9 0%, #0cbaf1 64%);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}

.btn2:hover::before {
  opacity: 1;
}

.btn2:hover {
  color: #fff;
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition-delay: 0s;
  transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 50, 0.7);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease 0s;
  opacity: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  position: relative;
  z-index: 110;
  padding-right: 10px;
  cursor: pointer;
}

.header__menu {
  position: relative;
  z-index: 100;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header._header-scroll .header__container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.header._header-scroll::before {
  opacity: 1;
}

.menu__list {
  display: flex;
  gap: calc((var(--index) * 3.8));
}

.menu__spoller {
  display: flex;
  align-items: center;
  position: relative;
}

.menu__submenu {
  max-height: 0;
  width: 150px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  z-index: 50;
  padding: 0 15px;
  background: linear-gradient(#252532, #252532) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
}

@media (min-width: 769px) {
  .menu__submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu__link {
  font-family: 'Chakra Petch';
  font-weight: 300;
  line-height: 175%;
  color: #d1d1d1;
  transition: all 0.2s;
}

.menu__link:hover {
  color: #fff;
  transition: all 0.2s;
}

.menu__arrow {
  padding: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.menu__arrow.open {
  transform: rotate(180deg);
}

.submenu__item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.submenu__link {
  font-size: 16px;
  font-weight: 300;
  color: #d1d1d1;
  transition: all 0.2s;
}

.submenu__link:hover {
  color: #fff;
}

.icon-arrow-down:before {
  content: '\e900';
  color: #d1d1d1;
  font-size: 6px;
  display: block;
  transition: all 0.2s;
}

.icon-arrow-down:hover::before {
  color: #fff;
}

.btn-header {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 48px;
  color: #d1d1d1;
  background: transparent;
  font-size: inherit;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  border-image-slice: 1;
  z-index: 10;
  transition: all 0.2s ease 0s;
}

.btn-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #e95ce9 0%, #0cbaf1 64%);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}

.btn-header:hover::before {
  opacity: 1;
}

.btn-header:hover {
  color: #fff;
}

.icon-menu {
  display: none;
}

@media (max-width: 769px) {
  .icon-menu {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 46px;
    cursor: pointer;
    z-index: 100;
    background-color: transparent;
    background-image: radial-gradient(circle at 100% 100%, transparent 0, #0db9f0 0, #0db9f0 1px, transparent 1px), linear-gradient(to right, #0db9f0, #e85ce9), radial-gradient(circle at 0 100%, transparent 0, #e85ce9 0, #e85ce9 1px, transparent 1px), linear-gradient(to bottom, #e85ce9, #e95de9), radial-gradient(circle at 0 0, transparent 0, #e95de9 0, #e95de9 1px, transparent 1px), linear-gradient(to left, #e95de9, #0cb9f0), radial-gradient(circle at 100% 0, transparent 0, #0cb9f0 0, #0cb9f0 1px, transparent 1px), linear-gradient(to top, #0cb9f0, #0db9f0);
    background-size: 1px 1px, calc(100% - 2px) 1px, 1px 1px, 1px calc(100% - 2px);
    background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
    background-repeat: no-repeat;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: '';
    transition: all 0.3s ease 0s;
    right: 14%;
    position: absolute;
    background-color: #ffffff;
    height: 2px;
  }
  .icon-menu::before {
    width: 60%;
    top: 13px;
  }
  .icon-menu::after {
    width: 30%;
    bottom: 13px;
  }
  .icon-menu span {
    width: 45%;
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    width: 60%;
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 769px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    left: -100%;
    overflow: auto;
    z-index: 4;
    padding: 133px 20px 30px 30px;
    background-color: rgba(37, 37, 50, 0.95);
    transition: left 0.5s ease;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}

.page {
  padding-top: 140px;
}

.page__advantages {
  margin-bottom: 100px;
}

.page__about {
  margin-bottom: 100px;
}

.page__service {
  margin-bottom: 100px;
}

.page__choose {
  margin-bottom: 100px;
}

.page__started {
  margin-bottom: 150px;
}

.page__testimonial {
  margin-bottom: 100px;
}

.page__pricing {
  margin-bottom: 150px;
}

.page__partners {
  margin-bottom: 0px;
}

.page__articles {
  margin-bottom: 70px;
}

.page__subscribe {
  margin-bottom: 100px;
}

.page__found {
  margin-bottom: 100px;
}

.open {
  opacity: 1;
}

.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 121%;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-bottom: 20px;
}

.subtitle {
  display: inline-block;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}

.hero {
  position: relative;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero__content {
  margin-bottom: 30px;
}

.hero__text {
  font-style: normal;
  font-weight: 300;
  line-height: 175%;
  color: #d1d1d1;
  max-width: 445px;
  margin-bottom: 20px;
}

.hero__action {
  display: flex;
}

.hero__image {
  position: relative;
}

.hero__image:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 60%;
  left: 50%;
  z-index: -1;
  background: linear-gradient(98.54deg, rgba(28, 196, 249, 0.8) 0.72%, rgba(254, 105, 254, 0.8) 90.69%);
  filter: blur(105px);
  transform: translate(-50%, -50%) rotate(-30deg);
}

.hero img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.hero::before {
  content: '';
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 1100px;
  height: 721px;
  background: url("../img/svg/bg-hero.svg") center no-repeat;
}

.clients {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.clients__list {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.clients__item:not(:last-child) {
  margin-right: -10px;
}

.clients__text span {
  font-weight: 300;
  color: #d1d1d1;
  line-height: 175%;
}

.underline {
  font-weight: 600 !important;
  color: #ffffff !important;
  position: relative;
}

.underline::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -9%;
  left: 50%;
  width: 100px;
  height: 7px;
  background: url(../img/svg/underline.svg) center no-repeat;
  transform: translateX(-50%);
}

.btn {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 18px 38px;
  color: #ffffff;
  background: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  z-index: 2;
}

.btn:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  filter: blur(25px);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  opacity: 1;
}

.advantages {
  position: relative;
  z-index: 2;
}

.advantages__body {
  padding: 55px 65px;
  background: linear-gradient(#252532, #252532) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
}

.advantages__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.advantages__column {
  padding: 0 25px;
  flex: 1 1 33.333%;
}

.advantages__images {
  width: 70px;
  height: 70px;
  margin-bottom: 45px;
}

.advantages__images img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.advantages__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 12px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #d1d1d1;
}

.about__container {
  display: flex;
  align-items: center;
}

.about__column {
  flex: 1 1 50%;
}

.about__media {
  position: relative;
}

.about__image {
  position: relative;
  z-index: 2;
}

.about__image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  padding-left: 20px;
}

.about__image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #252532;
  width: 66%;
  height: 76%;
  z-index: -3;
  opacity: 0.6;
}

.about__image::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 50%;
  background: linear-gradient(98.54deg, rgba(28, 196, 249, 0.8) 0.72%, rgba(254, 105, 254, 0.8) 90.69%);
  filter: blur(105px);
  border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
  transform: translate(-50%, -50%) rotate(-30deg);
}

.about__action {
  position: absolute;
  bottom: -5%;
  right: 10%;
  z-index: 2;
}

.about__text {
  font-weight: 300;
  line-height: 175%;
  color: #d1d1d1;
  margin-bottom: 20px;
}

.about__list {
  margin-bottom: 20px;
}

.about__item {
  position: relative;
  font-weight: 400;
  line-height: 175%;
  color: #ffffff;
  padding-left: 30px;
  background: url("../img/svg/check-box.svg") left center no-repeat;
}

.about__item:not(:last-child) {
  margin-bottom: 10px;
}

.service__content {
  display: flex;
  flex-wrap: wrap;
}

.top-service {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.top-service__column:first-child {
  flex: 0 0 45%;
}

.top-service__column:last-child {
  flex: 0 1 55%;
}

.top-service__text {
  font-weight: 300;
  line-height: 175%;
  color: #d1d1d1;
}

.card-service {
  position: relative;
  flex: 0 0 33.333%;
  margin-bottom: 20px;
  padding: 0px 10px;
}

@media (min-width: 990px) {
  .card-service:nth-child(2) {
    top: 50px;
  }
  .card-service:nth-child(3) {
    top: 100px;
  }
  .card-service:nth-child(5) {
    top: 50px;
  }
  .card-service:nth-child(6) {
    top: 100px;
  }
}

@media (min-width: 768px) and (any-hover: hover) {
  .card-service:hover .card-service__link {
    opacity: 0.9;
    visibility: visible;
  }
}

@media (min-width: 769px) and (any-hover: hover) {
  .card-service:hover .card-service__btn {
    transform: translateY(-50%);
  }
}

.card-service .open.card-service__top {
  display: flex;
}

.card-service .open.card-service__top::after {
  content: '-';
  position: absolute;
  top: 50%;
  right: 7%;
  color: #d1d1d1;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

.card-service__body {
  position: relative;
  height: 100%;
  padding: 38px 32px;
  cursor: pointer;
  background: linear-gradient(#252532, #252532) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
  transition: all 0.3s;
}

.card-service__body::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  border-image-slice: 1;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

@media (min-width: 769px) and (any-hover: hover) {
  .card-service__body:hover::after {
    opacity: 1;
  }
}

.card-service__top {
  margin-bottom: 12px;
}

.card-service__image {
  width: 48px;
  height: 48px;
  margin-bottom: 60px;
}

.card-service__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-service__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}

.card-service__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #d1d1d1;
}

.card-service__link {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: linear-gradient(180deg, rgba(37, 37, 50, 0) 0%, rgba(37, 37, 50, 0.91) 53.06%, #252532 100%);
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  transition: all 0.3s;
  z-index: 50;
}

.card-service__btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 48px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  border-image-slice: 1;
  transition: all 0.3s ease 0s;
}

.card-service__btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  opacity: 0;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

@media (min-width: 768px) and (any-hover: hover) {
  .card-service__btn:hover::before {
    opacity: 1;
  }
}

.choose__container {
  display: flex;
  align-items: center;
}

.choose__column {
  flex: 1 1 50%;
}

.choose__content {
  padding-right: 20px;
  max-width: 540px;
}

.choose__media {
  position: relative;
}

.choose__image {
  position: relative;
  z-index: 2;
}

.choose__image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.choose__image::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 70px;
  background-color: #252532;
  width: 66%;
  height: 76%;
  z-index: -3;
  opacity: 0.6;
}

.choose__image::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 60%;
  left: 50%;
  width: 100%;
  height: 50%;
  background: linear-gradient(98.54deg, rgba(28, 196, 249, 0.8) 0.72%, rgba(254, 105, 254, 0.8) 90.69%);
  filter: blur(105px);
  border-radius: 88% 12% 88% 12%/20% 37% 63% 80%;
  transform: translate(-50%, -50%) rotate(-30deg);
}

.choose__action {
  position: absolute;
  bottom: -5%;
  right: 10%;
  z-index: 2;
}

.choose-spollers__item:not(:last-child) {
  margin-bottom: 20px;
}

.choose-spollers__btn {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  padding-bottom: 10px;
}

.choose-spollers__btn span {
  cursor: pointer;
  margin-left: auto;
}

.choose-spollers__btn span::before {
  transition: all 0.4s;
}

.choose-spollers__btn span.open::before {
  transform: rotate(-180deg);
}

.choose-spollers__title {
  flex: 1 1 100%;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  background: transparent;
  border: none;
  transition: all 0.3s;
  padding-right: 7px;
}

.choose-spollers__title:hover {
  color: #d1d1d1;
}

.choose-spollers__text {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease-out;
  will-change: max-height;
  box-sizing: content-box;
  font-weight: 400;
  line-height: 1.6;
  color: #d1d1d1;
}

.choose-spollers__text.open {
  padding: 10px 0;
  opacity: 1;
}

.started__top {
  max-width: 797px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.started__btnWrapper {
  text-align: center;
}

.video {
  margin-bottom: 30px;
}

.video__body {
  cursor: pointer;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  padding-bottom: 43.5%;
  min-height: 250px;
}

.video__body::before {
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/svg/Button-play.svg) center/contain no-repeat;
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease 0s;
}

.video__body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@media (any-hover: hover) {
  .video__body:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@media (any-hover: hover) {
  .video__body img:hover {
    transform: scale(1.1);
  }
}

.video__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease 0s;
}

.video__image.playing {
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.video__image img {
  transition: transform 0.3s ease 0s;
}

.video__info {
  padding: 2.5rem 1.875rem 6.25rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__info.playing {
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.video__tag {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

.video__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 122%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.video__bottom {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.video__bottom.playing {
  transition: all 0.8s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.video__play {
  flex: 0 0 12px;
  width: 12px;
  height: 14px;
  background: url(../img/svg/Play.svg) center/contain no-repeat;
}

.video__line {
  flex: 1 1 auto;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  position: relative;
}

.video__line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.testimonial__container {
  position: relative;
}

.testimonial__top {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 2;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
}

.testimonial__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial__img {
  max-width: 1200px;
  max-height: 1200px;
}

.testimonial__img s img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial__clients {
  flex: 1 1 100%;
}

.client {
  position: absolute;
}

.client__btn {
  width: 80px;
  height: 80px;
  background: url("../img/svg/client-bg.svg") center/cover no-repeat;
}

.client__btn::before {
  content: '';
  position: absolute;
  background: url("../img/svg/client-bg-hover.svg") center/cover no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}

@media (any-hover: hover) {
  .client__btn:hover::before {
    opacity: 1;
  }
}

.client__img {
  z-index: 2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #18181b;
}

.client__body {
  max-height: 0;
  opacity: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 167%;
  overflow: hidden;
  transition: all 0.3s ease-out;
  will-change: max-height;
  position: absolute;
  width: 18.75rem;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
  padding: 18px;
  background: url("../img/svg/recal-bg.svg") 0 0/100% 100% no-repeat;
}

.client__body.open {
  opacity: 1;
}

.client__text {
  color: #d1d1d1;
  margin-bottom: 7px;
}

.client__name {
  color: #ffffff;
}

.client__body_active {
  max-height: 200px;
}

.client1 {
  top: 34%;
  left: 4%;
  transition: all 0.3s;
}

.client2 {
  top: 25%;
  right: 15%;
  transition: all 0.3s;
}

.client3 {
  bottom: 7%;
  left: 51%;
  transition: all 0.3s;
}

.client4 {
  bottom: 38%;
  right: 16%;
  transition: all 0.3s;
}

.pricing__top {
  margin-bottom: 50px;
}

.pricing__text {
  max-width: 600px;
  font-weight: 300;
  line-height: 175%;
  color: #d1d1d1;
}

.pricing__content {
  position: relative;
}

.pricing__content::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10%;
  width: 70%;
  height: 50%;
  background: linear-gradient(98.54deg, rgba(28, 196, 249, 0.8) 0.72%, rgba(254, 105, 254, 0.8) 90.69%);
  filter: blur(105px);
  transform: rotate(-20deg) translateY(-50%);
}

.pricing__body {
  display: flex;
  background: linear-gradient(#252532, #252532) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
  position: relative;
  z-index: 5;
}

.pricing__column:first-child {
  position: relative;
  flex: 0 1 70%;
  padding: 55px 40px 55px 40px;
}

.pricing__column:first-child::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 90%;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  background-color: #fff;
  opacity: 0.1;
}

.pricing__column:nth-child(2) {
  flex: 0 1 30%;
  align-self: flex-end;
  justify-content: flex-end;
}

.pricing__image {
  max-width: 360px;
  max-height: 520px;
}

.pricing__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-pricing {
  display: flex;
}

.item-pricing:not(:last-child) {
  margin-bottom: 32px;
}

.item-pricing__icon {
  margin-right: 10px;
}

.item-pricing__content {
  max-width: 580px;
}

.item-pricing__title {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 12px;
}

.item-pricing__text {
  line-height: 175%;
  color: #b0b0b2;
}

.price-pricing {
  position: absolute;
  bottom: -10%;
  right: 15%;
  background: #252532;
  padding: 20px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0cbaf1, #e95ce9) 0% 100%;
  border-image-slice: 1;
  background-repeat: no-repeat;
}

.price-pricing__top {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #d1d1d1;
  margin-bottom: 5px;
}

.price-pricing__value {
  font-weight: 600;
  font-size: 60px;
  line-height: 110%;
  color: #ffffff;
  margin-bottom: 14px;
}

.price-pricing__link {
  margin-bottom: 10px;
}

.price-pricing__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  text-align: center;
  color: #b0b0b2;
}

.partners__top {
  max-width: 797px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.partners__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.partners__content {
  position: relative;
}

.partner {
  position: absolute;
}

.partner__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 14px;
  background: url("../img/svg/partner-bg.svg") center/cover no-repeat;
  animation: size ease 8s infinite;
}

.partner__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes size {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.partner1 {
  top: 52%;
  left: 2%;
  animation: size ease 8s infinite;
}

.partner2 {
  top: 26%;
  left: 9%;
  animation: size ease 6s infinite;
}

.partner3 {
  top: 7%;
  left: 28%;
  animation: size ease 8s infinite;
}

.partner4 {
  top: 6%;
  left: 57%;
  animation: size ease 6s infinite;
}

.partner5 {
  top: 26%;
  left: 81%;
  animation: size ease 8s infinite;
}

.partner6 {
  top: 52%;
  left: 87%;
  animation: size ease 6s infinite;
}

.articles__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.articles__title {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-bottom: 30px;
}

.articles__content {
  gap: 60px;
}

@media (min-width: 990px) {
  .articles__content {
    display: flex;
  }
}

.articles__column {
  min-width: 0;
}

.articles__column:first-child {
  flex: 0 0 55%;
}

.articles__column:last-child {
  flex: 0 0 45%;
  position: relative;
}

.articles__column:last-child:before {
  position: absolute;
  width: 200%;
  height: 565px;
  left: -20%;
  bottom: 0;
  right: 0;
  content: '';
  background: linear-gradient(#252532, #252532) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
  z-index: -1;
}

.top-articles__btn {
  padding: 12px 40px;
}

.top-articles__btn_mobile {
  margin-top: 30px;
}

@media (min-width: 990px) {
  .top-articles__btn_mobile {
    display: none;
  }
}

.slider-articles {
  padding-bottom: 50px;
}

.slider-articles__pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 12px;
  height: 3px;
  background: #fff;
  border-radius: 32px;
  transition: all 0.3s ease 0s;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 26.375rem;
}

.slide__img {
  vertical-align: top;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.slide__description {
  position: relative;
  z-index: 5;
  padding: 20px;
}

.slide__row {
  display: flex;
  align-items: center;
}

.slide__tag {
  margin-bottom: 10px;
  display: inline-block;
}

.slide__title {
  max-width: 400px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.005em;
  color: #ffffff;
  transition: all 0.3s;
}

.slide__title:hover {
  color: #d1d1d1;
}

.tag-articles {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #ffffff;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
}

.btn-articles {
  position: relative;
  margin-left: auto;
  padding: 12px;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, #0cbaf1 34%, #e95ce9 79%, #e95ce9 80%);
  border-image-slice: 1;
}

.btn-articles::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #e95ce9 0%, #0cbaf1 64%);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}

.btn-articles:hover::before {
  opacity: 1;
}

.btn-articles:hover {
  color: #fff;
}

.recent-articles__list {
  padding-right: 50px;
  height: 490px;
  overflow: auto;
}

.recent-articles__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.recent-articles__item:not(:last-child) {
  margin-bottom: 32px;
}

.recent-articles__image {
  position: relative;
  flex: 0 0 140px;
  min-height: 90px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

@media (any-hover: hover) {
  .recent-articles__image:hover img {
    transform: scale(1.1);
  }
}

.recent-articles__image img {
  vertical-align: top;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform 0.3s;
}

.recent-articles__tag {
  margin-bottom: 5px;
}

.recent-articles__text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  transition: all 0.3s;
}

.recent-articles__text:hover {
  color: #d1d1d1;
}

.simplebar-scrollbar {
  background-color: #fff;
}

.simplebar-scrollbar:before {
  background: #000;
  border-radius: 7px;
  opacity: 0.5;
}

.simplebar-track {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 32px;
  bottom: 1.875rem;
  width: 0.125rem !important;
}

.subscribe__body {
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  border-radius: 4px;
  padding: 30px 40px;
}

@media (min-width: 990px) {
  .subscribe__body {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.subscribe__column {
  flex: 1 1 50%;
}

.subscribe__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.subscribe__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.45;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.subscribe__form {
  position: relative;
  width: 365px;
  height: 56px;
  flex: 0 1 365px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.07);
  overflow: hidden;
}

.subscribe__input {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 5px 56px 5px 15px;
  color: #fff;
}

.subscribe__input::placeholder {
  color: #fff;
  font-size: 14px;
}

.subscribe__input:focus {
  border: 1px solid #515050;
}

.subscribe__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border: 0;
  background: rgba(255, 255, 255, 0.21);
  padding: 22px;
  transition: all 0.3s;
}

.subscribe__btn img {
  display: block;
}

.subscribe__btn:hover {
  background: rgba(255, 255, 255, 0.408);
}

.found__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.found__text {
  font-weight: 300;
  line-height: 175%;
  color: #d1d1d1;
  margin-bottom: 40px;
}

.found__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
}

.footer:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  background: url("../img/svg/bg-footer.svg") top right/100% no-repeat;
  height: 490px;
  width: 1000px;
  z-index: -1;
}

.footer__top {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.footer__top:before {
  content: '';
  position: absolute;
  opacity: 0.7;
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
}

.footer__column:first-child {
  flex: 0 1 40%;
}

.footer__column:last-child {
  flex: 0 1 60%;
}

.footer__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 30px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.icons-footer__list {
  display: flex;
  gap: calc(var(--index) / 1.2);
  align-items: center;
}

.icons-footer__link {
  background: url("../img/svg/icon-footer-bg.svg") center/cover no-repeat;
  width: 40px;
  height: 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-footer__link img {
  transition: transform 0.3s;
}

@media (any-hover: hover) {
  .icons-footer__link:hover img {
    transform: scale(1.2);
  }
}

.footer-content__title {
  font-weight: 600;
  line-height: 175%;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-content__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-content__link {
  font-weight: 300;
  line-height: 175%;
  color: #ffffff;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (any-hover: hover) {
  .footer-content__link:hover {
    color: #d1d1d1;
  }
}

.foooter__copiright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  line-height: 175%;
  color: #ffffff;
}

@media (max-width: 990px) {
  .card-service {
    flex: 0 1 50%;
  }
  .menu__list {
    gap: 40px;
  }
  .testimonial__top {
    top: 0;
  }
  .testimonial__img {
    max-width: 960px;
    max-height: 960px;
  }
  .pricing__body {
    flex-direction: column;
    gap: 20px;
  }
  .pricing__column:first-child {
    padding: 30px 15px;
  }
  .pricing__column:first-child::after {
    position: absolute;
    content: '';
    width: 90%;
    height: 2px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .pricing__image {
    max-width: 260px;
  }
  .price-pricing {
    right: auto;
    left: 5%;
    bottom: -6%;
    padding: 20px 40px;
  }
  .articles__column:first-child {
    margin-bottom: 50px;
  }
  .top-articles__btn {
    display: none;
  }
  .articles__btn_mobile {
    display: block;
  }
  .subscribe__body {
    flex-direction: column;
  }
  .subscribe__title {
    text-align: center;
  }
  .subscribe__column:first-child {
    margin-bottom: 20px;
  }
  .subscribe__column:last-child {
    justify-content: center;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__actions {
    flex-direction: row;
  }
  .found__container {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .title {
    font-size: 40px;
  }
  .hero__container {
    flex-direction: column;
  }
  .hero__column:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu__list {
    flex-direction: column;
    gap: 20px;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__spoller {
    flex-wrap: wrap;
  }
  .menu__submenu {
    flex: 1 1 100%;
  }
  .menu__arrow {
    margin-left: auto;
  }
  .advantages__body {
    padding: 20px;
  }
  .advantages__column {
    padding-right: 10px;
    flex: 1 1 50%;
  }
  .advantages__column:not(:last-child) {
    margin-bottom: 20px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__column:not(:last-child) {
    margin-bottom: 50px;
  }
  .top-service {
    flex-direction: column;
    align-items: flex-start;
  }
  .top-service__column {
    flex: 1 1 100%;
  }
  .card-service {
    flex: 1 1 100%;
    padding: 0;
  }
  .card-service__link {
    opacity: 1;
    visibility: visible;
    position: relative;
    display: block;
    margin-top: 10px;
    background: none;
    padding-bottom: 10px;
  }
  .card-service__spoller {
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }
  .card-service__body {
    padding: 0;
  }
  .card-service__body::after {
    display: none;
  }
  .card-service__top {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    margin: 0;
    transition: all 0.3s;
  }
  .card-service__top:after {
    content: '+';
    position: absolute;
    top: 50%;
    right: 7%;
    color: #d1d1d1;
    font-size: 30px;
    transform: translate(-50%, -50%);
  }
  .card-service__top .card-service__image {
    margin-bottom: 0;
  }
  .choose__container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .choose__column {
    flex: 1 1 100%;
  }
  .choose__media {
    margin-bottom: 50px;
  }
  .testimonial__top {
    top: -55px;
  }
  .client__img {
    width: 40px;
    height: 40px;
  }
  .client__btn {
    width: 60px;
    height: 60px;
  }
  .partner__image {
    width: 60px;
    height: 60px;
  }
  .slide__title {
    font-size: 22px;
  }
  .recent-articles__text {
    font-size: 14px;
  }
  .recent-articles__image {
    flex: 0 0 80px;
  }
  .recent-articles__image img {
    object-fit: contain;
  }
  .btn-articles {
    display: none;
  }
  .subscribe__body {
    padding: 15px;
  }
  .subscribe__title {
    font-size: 22px;
  }
  .footer__content {
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer__actions {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .icons-footer__link {
    padding: 25px;
  }
  .found__image {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn-header {
    display: none;
  }
  .advantages__column {
    padding: 0px;
    flex: 1 1 100%;
  }
  .choose-spollers__title {
    font-size: 16px;
  }
  .client__body {
    padding: 14px;
    line-height: 140%;
    width: 14.75rem;
  }
  .partner__image {
    width: 40px;
    height: 40px;
  }
  .slide {
    min-height: 16rem;
  }
}

@media (max-width: 15000px) {
  .client2.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-90%);
  }
  .client4.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-100%);
  }
}

@media (max-width: 1340px) {
  .client2.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-220%);
  }
  .client4.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-230%);
    bottom: 20%;
  }
  .articles__column:last-child {
    flex-shrink: 1;
  }
}

@media (max-width: 900px) {
  .client2.spollers-parent {
    transition: all 0.3s;
    top: 16%;
    transform: translateX(-230%);
  }
  .client4.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-240%);
    bottom: 20%;
  }
  .client3.spollers-parent {
    bottom: 3%;
  }
}

@media (max-width: 800px) {
  .client2.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-471%);
  }
  .client3.spollers-parent {
    transition: all 0.3s;
    bottom: 3%;
    transform: translateX(-190%);
  }
  .client4.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-376%);
    bottom: 20%;
  }
}

@media (max-width: 540px) {
  .client1.spollers-parent {
    transition: all 0.3s;
    left: 0;
  }
  .client2.spollers-parent {
    transition: all 0.3s;
    right: 0%;
    transform: translateX(-400%);
  }
  .client3.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-270%);
  }
  .client4.spollers-parent {
    transition: all 0.3s;
    transform: translateX(-350%);
  }
}

.animation1 {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.9s;
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}

.animation2 {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.9s;
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}

.animation3 {
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.9s;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  -ms-transition: all 0.9s;
  -o-transition: all 0.9s;
}

.show {
  transform: translate(0, 0);
  opacity: 1;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
}
/*# sourceMappingURL=style.css.map */